#hdijupyterutils>=0.6
hdijupyterutils==0.20.4
#autovizwidget>=0.6
autovizwidget==0.20.4
#ipython>=4.0.2
ipython==8.5.0
#pandas>=0.17.1
pandas==2.0.3
numpy==1.24.4
requests==2.31.0
#ipykernel>=4.2.2
ipykernel==6.16.0
ipywidgets==8.1.1
notebook==6.4.12
tornado==6.2
requests_kerberos==0.14.0
nest_asyncio==1.5.5
